body {
    background-color: #CCC;
    

}

#wrapper {
    width:1000px;
    margin: 20px auto 20px ;
    background-color: #fff;
    border: 2px solid #000;
    padding: 10px;
    
    border-radius: 3px;
    box-shadow: -3px 3px 3px #000;
}

header{



}

#menu_list{
    text-align:center;
    font-size:1.3em;
    ul{
        list-style:none;
        li{
            text-decoration: none;
        }
    }
    
}

header h1 {
    text-align:center;
}

h2{
    text-align:center;
    text-size: 0.8;
}

#content {

}


footer {
    clear: both;
    p{
        font-size: 0.8em ;
        font-family: monospace;
        text-align:center;
    }
}